<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.to_do.to_do_list">

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true">
    </supports-screens>


    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/pencil_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pencil_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".create_item"></activity>
        <activity android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".AlertReceiver">

        </receiver>
    </application>

</manifest>